#comment_form
  %h3 Comments
  %em
    %p{style: "margin-bottom: 20px;"}
      connect with vendors for this event
  = form_for([@couple, @comment]) do |f|
    -if current_couple && current_couple.id == @couple.id
      .form_fields
        = f.hidden_field :author, {value: current_couple.name}
        .input-field
          = f.label :message
          = f.text_area :body, class: 'textarea'
        = f.submit 'Add Comment', class: 'btn white-text tooltipped', data: {delay: '50', position: 'right', tooltip: 'Leave a message for everyone involved in the wedding.'}
    -elsif current_vendor 
      .form_fields
        = f.hidden_field :author, {value: current_vendor.name}
        = f.hidden_field :vendor_id, {value: current_vendor.id}
        = f.label :body
        = f.text_area :body, class: 'textarea active'
        = f.submit 'Add Comment', class: 'btn'

