.dashboard
  %h3 Contracts Dashboard
  .row
    .col.s6
      %table.requests
        %thead
          %tr
            %td
              %b Need Approval
        %tbody
          - if @couple_requests.any?
            - @couple_requests.each do |contract|
              %tr
                %td
                  = link_to contract.vendor.name, vendor_path(contract.vendor)
                  = link_to 'Approve', add_approval_path(contract_id: contract.id), class: 'btn btn-flat waves-effect'
                  = link_to 'Remove', contract_path(contract), method: :delete, class: 'btn btn-flat waves-effect'
          - else
            %tr
              %td No requests
    .col.s6
      %table.pending
        %thead
          %tr
            %td
              %b Awaiting Response
        %tbody
          - if @couple_pending.any?
            - @couple_pending.each do |contract|
              %tr
                %td
                  = link_to contract.vendor.name, vendor_path(contract.vendor), style: "font-size: 100%;"
                %td
                  = link_to contract_path(contract), method: :delete, class: 'btn-floating' do
                    <i class="material-icons">close</i>
          - else
            %tr
              %td No pending
  %hr            
