.couple_dashboard.w90
  %h3
    Current Vendors
  - @couple_active.each do |contract|
    = render(partial: 'layouts/vendor_card', locals: {contract: contract, vendor: contract.vendor})
  %hr
  - if @couple.families.any?
    - @couple.families.each do |family|
      .family_div
        = family.name
        |
        = family.relation
        |
        = family.role
        %br
        = family.description
        %br
        = family.contact
        %br
        = link_to 'Edit Role', edit_couple_family_path(current_couple, family.id)
        |
        = link_to 'Remove', couple_family_path(current_couple, family.id), method: :delete
  - else
    %p No Family Roles Yet!
  = link_to 'New Family Role', new_couple_family_path(current_couple)


  %h5
    These Need Your Approval
  - @couple_requests.each do |contract|
    = contract.vendor.try(:email)
    |
    = link_to 'Approve', add_approval_path(contract_id: contract.id)
    |
    = link_to 'Remove', contract_path(contract), method: :delete
    %br
  %hr
  %h5
    These Are Pending
  - @couple_pending.each do |contract|
    = contract.vendor.try(:email)
    |
    = link_to 'Remove', contract_path(contract), method: :delete
    %br
