= render(partial: 'info_form')
%p#open_couple_form.btn Open Form
- if @couple.vendors.any?
  %hr
  %h3
    These Need Your Approval
  - @couple_requests.each do |contract|
    = contract.vendor.email
    |
    = link_to 'Approve', add_approval_path(contract_id: contract.id)
    |
    = link_to 'Remove', contract_path(contract), method: :delete
    %br
  %hr
  %h3
    These Are Pending
  - @couple_pending.each do |contract|
    = contract.vendor.email
    |
    = link_to 'Remove', contract_path(contract), method: :delete
    %br
  %hr
  %h3
    These Are Your Approved Contracts
  - @couple_active.each do |contract|
    = contract.vendor.email
    |
    = link_to 'Remove', contract_path(contract), method: :delete
    %br
  %hr
- else
  %p No vendors yet!
- if @couple.families.any?
  %h3
    These Are Your Family Vendors
  - @couple.families.each do |family|
    .family_div
      = family.name
      |
      = family.relation
      |
      = family.role
      %br
      = family.description
      %br
      = family.contact
      %br
      = link_to 'Edit Role', edit_couple_family_path(current_couple, family.id)
- else
  %p No Family Roles Yet!
= link_to 'New Family Role', new_couple_family_path(current_couple)
