#couple_form.hide
	= form_for @couple, remote: true do |f|
		= f.label :name, class: 'active'
		= f.text_field :name, placeholder: 'Brad & Bill'

		= f.label :description, class: 'active'
		= f.text_area :description, placeholder: 'Tell us about you!'

		= f.label :wedding_date, class: 'active'
		= f.text_area :wedding_date

		= f.label :budget, class: 'active'
		= f.text_field :budget, placeholder: '$8,000.00'

		= f.label :ceremony_location, class: 'active'
		= f.text_field :ceremony_location, placeholder: 'Wasatch State Park'

		= f.label :reception_location, class: 'active'
		= f.text_field :reception_location, placeholder: 'Porcupine Grill'

		= f.label :couple_avatar
		= f.file_field :couple_avatar

	%p#close_couple_form.btn Close Form
	.btn.couple_update{data: {id: @couple.id}} Test


-# %button.vote_button{"data-element-id" => "upvotes", "data-url" => "/upvote"} Up Vote
-# %button.vote_button{"data-element-id" => "downvotes", "data-url" => "/downvote"} Down Vote
