#couple_form.hide{style: 'padding-top: 20px;'}
	= form_for @couple do |f|
		.form-fields
			= f.label :name, class: 'active'
			= f.text_field :name, placeholder: 'Brad & Bill'

			= f.label :description, class: 'active'
			= f.text_area :description, placeholder: 'Tell us about you!'

			= f.label :wedding_date, class: 'active'
			= f.date_field :wedding_date, class: 'datepicker'

			= f.label :budget, class: 'active'
			= f.text_field :budget, placeholder: '8000'

			= f.label :ceremony_location, class: 'active'
			= f.text_field :ceremony_location, placeholder: 'Wasatch State Park'

			= f.label :reception_location, class: 'active'
			= f.text_field :reception_location, placeholder: 'Porcupine Grill'

			= f.label :couple_avatar
			= f.file_field :couple_avatar
		.form-buttons.center
			= f.button :submit, class: 'btn-floating tooltipped', data: {delay: '30', position: 'left', tooltip: 'Submit Information'} do
				<i class="material-icons">check</i>
			%span#close_couple_form.btn-floating.tooltipped{style: 'cursor: pointer;', data: {delay: '30', position: 'right', tooltip: 'Close Form'}}
				<i class="material-icons">close</i>
