.container
  %img{src: @couple.couple_avatar.url(:thumb)}
  %h1
    - if @couple.name == nil
      Couple
    - else
      = @couple.name
  %hr
  %p.couple_desc
    = @couple.try(:description)
  %p.couple_date
    = @couple.try(:wedding_date)
  %p.budget
    = @couple.try(:budget)
  %p.ceremony_location
    = @couple.try(:ceremony_location)
  %p.reception_location
    = @couple.try(:reception_location)
  %hr
  -if current_couple && current_couple.id == @couple.id
    = render(partial: 'current_couple')
  -else
    = render(partial: 'not_current')
  - if (current_couple && current_couple.id == @couple.id) || (current_vendor && @couple.wedding_vendor(current_vendor))
    = render(partial: 'comment_card')
