.static-nav.hide-on-small-only{style: 'background-color: #B1AB6F; margin-top: -55px; padding: 10px 0;'}
	.row.center{style: 'margin-bottom: 0px;'}
		.col.m4
			= link_to 'FAQ', faq_path, class: 'btn btn-flat waves-effect waves-white'
		.col.m4
			= link_to 'Team', about_path, class: 'btn btn-flat waves-effect waves-white'
		.col.m4
			= link_to 'Contact Us', contact_path, class: 'btn btn-flat waves-effect waves-white'

.small-nav.hide-on-med-and-up{style: "background-color: #B1AB6F;"}
	.row
		.col.s12.center
			= link_to 'FAQ', faq_path, class: 'btn btn-flat waves-effect'
	.row
		.col.s12.center
			= link_to 'Team', about_path, class: 'btn btn-flat waves-effect '
	.row	
		.col.s12.center
			= link_to 'Contact Us', contact_path, class: 'btn btn-flat waves-effect'
