.container.z-depth-3
	%img{src: "http://atlassian.wpengine.netdna-cdn.com/wp-content/uploads/devTeam.jpeg", style: "width: 100%; height: 400px;"}

	= render partial: 'static_nav'
	.container
		%h1 Contact Us
		= form_for @contact do |f|
			= f.label :name
			= f.text_field :name

			= f.label :email
			= f.email_field :email

			= f.label :message
			= f.text_area :body, style: 'height: 150px'

			= recaptcha_tags
			= f.submit 'Contact Us', class: 'btn'
