.container
  %h1 Contact Us
  = form_for @contact do |f|
    = f.label :name
    = f.text_field :name

    = f.label :email
    = f.email_field :email

    = f.label :body
    = f.text_area :body

    = recaptcha_tags
    = f.submit 'Contact Us', class: 'btn'
