#family_form.w90
  = form_for [@couple, @family] do |f|
    .input-field
      = f.label :name, class: 'active'
      = f.text_field :name

    .input-field
      = f.label :relation, class: 'active'
      = f.text_area :relation, class: 'materialize-textarea'

    .input-field
      = f.label :role, class: 'active'
      = f.text_area :role, class: 'materialize-textarea'

    .input-field
      = f.label :description, class: 'active'
      = f.text_area :description, class: 'materialize-textarea'
    .input-field
      = f.label :contact, class: 'active'
      = f.text_area :contact, class: 'materialize-textarea'

    = f.submit 'Submit', class: 'btn'
