#family_form
  = form_for [@couple, @family] do |f|
    = f.label :name, class: 'active'
    = f.text_field :name, placeholder: 'Family member name'

    = f.label :relation, class: 'active'
    = f.text_area :relation, placeholder: 'Relation to couple'

    = f.label :role, class: 'active'
    = f.text_area :role, placeholder: 'Role in Wedding'

    = f.label :description, class: 'active'
    = f.text_area :description, placeholder: 'Description of part in wedding'

    = f.label :contact, class: 'active'
    = f.text_area :contact, placeholder: 'How can other vendors reach you?'

    = f.submit 'Submit', class: 'btn'
