#vendor_form.hide
	= form_for @vendor do |f|
		= f.label :name, class: 'active'
		= f.text_field :name, placeholder: 'Company Name'

		= f.label :description, class: 'active'
		= f.text_area :description, placeholder: 'Tell us about you'

		= f.label :category
		= f.select :category, options_for_select(Vendor.categories)

		= f.label :address, class: 'active'
		= f.text_field :address, placeholder: '123 My Street, Salt Lake City, UT 84111'

		= f.label :website, class: 'active'
		= f.text_field :website, placeholder: 'www.mywebsite.com'

		= f.label :phone, class: 'active'
		= f.text_field :phone, placeholder: '888-888-8888'

		= f.label :vendor_avatar
		= f.file_field :vendor_avatar

		= f.submit 'Update', class: 'btn', id: 'vendor_update'
	%p#close_vendor_form.btn Close Form
	-# .btn.vendor_update{data: {id: @vendor.id}} Test

-# vendor, html: {class: 'form_for_vendor'}, remote: true
