#vendor_form.hide{style: 'padding-top: 20px;'}
	.form_content
		= form_for @vendor do |f| 
			.form_fields
				= f.label :name, class: 'active'
				= f.text_field :name, placeholder: 'Company Name'

				= f.label :description, class: 'active'
				= f.text_area :description, placeholder: 'Tell us about you'

				= f.label :category
				= f.select :category, options_for_select(Vendor.categories), {}, class: 'browser-default'

				= f.label :address, class: 'active'
				= f.text_field :address, placeholder: '123 My Street'

				= f.label :city, class: 'active'
				= f.text_field :city, placeholder: 'Salt Lake City'

				= f.label :state, class: 'active'
				-# = f.text_field :state, placeholder: 'UT'
				= f.select :state, options_for_select(Vendor.states), {}, class: 'browser-default'

				= f.label :zip, class: 'active'
				= f.text_field :zip, placeholder: '84111'

				= f.label :website, class: 'active'
				= f.text_field :website, placeholder: 'www.mywebsite.com'

				= f.label :phone, class: 'active'
				= f.text_field :phone, placeholder: '888-888-8888'

				= f.label :vendor_avatar
				= f.file_field :vendor_avatar

			.form-buttons.center
				= f.button :submit, class: 'btn-floating' do
					<i class="material-icons">check</i>
				%span#close_vendor_form.btn-floating{style: 'cursor: pointer;'}
					<i class="material-icons">close</i>
			%br