.dashboard
	.row
		.col.s8
			%table.active
				%thead
					%tr
						%td
							%b Name
						%td
							%b Date
				%tbody
					- if @vendor_active.any?
						- @vendor_active.each do |contract|
							%tr
								%td
									= link_to contract.couple.name, couple_path(contract.couple)
									= link_to '[x]', contract_path(contract), method: :delete
								%td #{contract.couple.try(:wedding_date)}
					- else
						%tr
							%td You currently have no approved couples
		.col.s4
			%table.requests
				%thead
					%tr
						%td
							%b Need Approval
						%td
							%b Date
				%tbody
					- if @vendor_requests.any?
						- @vendor_requests.each do |contract|
							%tr
								%td
									= link_to contract.couple.name, couple_path(contract.couple)
									= link_to '[+]', add_approval_path(contract_id: contract.id)
									= link_to '[x]', contract_path(contract), method: :delete
								%td #{contract.couple.try(:wedding_date)}
					- else
						%tr
							%td No requests
			%table.pending
				%thead
					%tr
						%td
							%b Awaiting Response
						%td
							%b Date
				%tbody
					- if @vendor_pending.any?
						- @vendor_pending.each do |contract|
							%tr
								%td
									= link_to contract.couple.name, couple_path(contract.couple)
									= link_to '[x]', contract_path(contract), method: :delete
								%td #{contract.couple.try(:wedding_date)}
					- else
						%tr
							%td No pending
