.row
  .col.m10.offset-m1.s12
    .row
      .col.s12
        %ul#tabs.tabs{style: "margin-bottom: 5px;"}
          %li.tab
            %a#vendor_info_link.active{href: '#vendors'}List View
          %li.tab.hide-on-small-only
            %a#vendor_map_link{style: 'cursor: pointer;', data: {map_hash: @hash.to_json}}Map View

      -# VENDOR CARDS RENDERING
      #vendors.col.s12
        #vendors_card_loop
          - vendors.each do |vendor|
            .vendor_card_content
              .row
                .col.m2
                  %img{src: vendor.vendor_avatar.url(:thumb)}
                .col.m10
                  #{vendor.name} - #{vendor.category}
                  %br
                  %a{href: "http://#{vendor.website.html_safe}", target: '_blank'} #{vendor.website}
                  %br
                  %span #{vendor.city}, #{vendor.state}
                  %br
                  = link_to 'Profile', vendor_path(vendor)


      -# VENDORS MAP RENDERING
      #map_vendors.s12.hide
        #map{style: 'width: 100%; height: 400px;'}
