.container
	.content
		.row.valign-wrapper{style: 'padding-top: 20px;'}
			.col.s4.valign
				%div{style: 'width: 100%;'}
					%img.w90{src: @vendor.vendor_avatar.url(:medium), style: 'border-radius: 2%;'}
			.col.s8
				#vendor_info.w90
					.vendor_info_head
						%h4{style: 'display: inline-block;'}
							= @vendor.try(:name)
						%span{style: 'margin-left: 5px; vertical-align: middle;'}
							(
							= @vendor.try(:phone)
							)
					%p
						= @vendor.try(:address)
						, #{@vendor.try(:city)}, #{@vendor.try(:state)} #{@vendor.try(:zip)}
					%p
						= @vendor.try(:description)
					%a{href: "http://#{@vendor.try(:website)}", target: "_blank"}
						= @vendor.try(:website)
					-if current_vendor && current_vendor.id == @vendor.id
						%a#open_vendor_form.right{style: 'cursor: pointer;'} Edit Info...
				.w90
					= render(partial: 'info_form')
		.content-bottom
			-# MAP
			- if @vendor.latitude
				%div{style: 'width: 100%; height: 300px;'}
					#map{style: 'width: 100%; height: 300px; border-radius: 2%;'}
			- else
				%p Add An Address Ya Goof!


	%hr
	-if current_vendor && current_vendor.id == @vendor.id
		= render(partial: 'vendor_dashboard')
	-else
		=render(partial: 'not_current')



-# MAPS SCRIPT
%script{type: 'text/javascript'}
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
	handler.getMap().setZoom(14);});
