.container
	.content
		.row
			.col.s4
				%div{style: 'width: 100%;'}
					%img{src: @vendor.vendor_avatar.url(:medium), style: 'border-radius: 2%; width: 100%;'}
			.col.s4
				#vendor_info
					%h4.vendor_name
						= @vendor.try(:name)
					%p.vendor_desc
						= @vendor.try(:description)
					%p.vendor_category
						= @vendor.try(:category)
					%p.vendor_address
						= @vendor.try(:address)
					%p.vendor_website
						= @vendor.try(:website)
					%p.vendor_phone
						= @vendor.try(:phone)
					%a#open_vendor_form{style: 'cursor: pointer;'} Edit Info...
				= render(partial: 'info_form')
			.col.s4
				-# MAP
				- if @vendor.latitude
					%div{style: 'width: 100%;'}
						#map{style: 'width: 100%; height: 300px; border-radius: 2%;'}
				- else
					%p Add An Address Ya Goof!

	%hr
	-if current_vendor && current_vendor.id == @vendor.id
		= render(partial: 'vendor_dashboard')
	-else
		=render(partial: 'not_current')
	%hr

	%hr



%script{type: 'text/javascript'}
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
	handler.getMap().setZoom(14);});
