.container
	%h1.vendor_name
		- if @vendor.name == nil
			Vendor
		- else
			= @vendor.name
	%hr
	%p.vendor_desc
	= @vendor.try(:description)
	%p.vendor_type
	= @vendor.try(:type)
	%p.vendor_address
	= @vendor.try(:address)
	%p.vendor_website
	= @vendor.try(:website)
	%p.vendor_phone
	= @vendor.try(:phone)

	%hr
	-if current_vendor && current_vendor.id == @vendor.id
		= render(partial: 'current_vendor')
	-else
		=render(partial: 'not_current')
