.container.z-depth-3
	.vendor_show_info.w90
		.row.valign-wrapper{style: 'height: 300px'}
			.col.s4.valign	
				%img#vendor_avatar.w90{src: @vendor.vendor_avatar.url(:medium), style: 'border-radius: 2%;'}
			.col.s8
				#vendor_info.w90
					.vendor_info_head
						%h4{style: 'display: inline-block;'}
							= @vendor.try(:name)
						%p{style: 'vertical-align: middle;'}
							%a{href: "http://#{@vendor.try(:website)}", target: "_blank"}
								= @vendor.try(:website)
							%p
								= @vendor.try(:phone) 
							%p
								= @vendor.try(:address)
								= @vendor.try(:city)
								, 
								= @vendor.try(:state)  
								= @vendor.try(:zip)
							%p
								= @vendor.try(:description) 
						= render partial: 'button'
	.w90
		= render(partial: 'info_form')
		.content-bottom
			- if @vendor.latitude
				%div{style: 'width: 100%; height: 300px;'}
					#map{style: 'width: 100%; height: 300px;'}
			

	-if current_vendor && current_vendor.id == @vendor.id
		%hr
		= render(partial: 'vendor_dashboard')






-# MAPS SCRIPT
%script{type: 'text/javascript'}
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){ markers = handler.addMarkers(#{raw @hash.to_json});
	handler.bounds.extendWith(markers);
	handler.fitMapToBounds();
	handler.getMap().setZoom(14);});
