%nav
  .nav-wrapper
    %a.brand-logo.right{href: '/'}
      %span{style: 'color: #ffe082;'} {
      %span MarryMe
      %span{style: 'color: #ffe082;'} }
    %ul
      - if current_couple
        %li
          = link_to 'Profile', couple_path(current_couple)
        %li
          = link_to 'Logout', destroy_couple_session_path, method: 'delete'
      - elsif current_vendor
        %li
          = link_to 'Profile', vendor_path(current_vendor)
        %li
          = link_to 'Logout', destroy_vendor_session_path, method: 'delete'
      - else
        %li
          = link_to 'Couple Sign In', new_couple_session_path
        %li
          = link_to 'Vendor Sign In', new_vendor_session_path
      %li
        =link_to 'Vendors', vendors_path
    %span.custom_nav.left
      = form_tag(vendors_path, :method => 'get', class: 'custom_nav') do
        .input-field
          = text_field_tag :search, params[:search], placeholder: 'Search Vendors by name, category, or area'
