%nav
  .nav-wrapper
    %a.brand-logo.right{href: '/'}
      %img{src: "https://s3-us-west-2.amazonaws.com/marry-me-production/public/resources/logo-overlay.png", style: 'height: 64px'}
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.hide-on-small-only
      - if current_couple
        %li
          %a{href: "/couples/#{current_couple.id}"}
            Profile
            %span.new.badge.black-text
              #{current_couple.request_contracts.length}
        %li
          = link_to 'Logout', destroy_couple_session_path, method: 'delete'
      - elsif current_vendor
        %li
          %a{href: "/vendors/#{current_vendor.id}"}
            Profile
            %span.new.badge.black-text
              #{current_vendor.request_contracts.length}
        %li
          = link_to 'Logout', destroy_vendor_session_path, method: 'delete'
      - else
        %li
          = link_to 'Couple Sign In', new_couple_session_path
        %li
          = link_to 'Vendor Sign In', new_vendor_session_path
      %li
        =link_to 'Vendors', vendors_path
    %ul#mobile-demo.side-nav
      - if current_couple
        %li
          %a{href: "/couples/#{current_couple.id}"}
            Profile
            %span.new.badge.black-text
              #{current_couple.request_contracts.length}
        %li
          = link_to 'Logout', destroy_couple_session_path, method: 'delete'
      - elsif current_vendor
        %li
          %a{href: "/vendors/#{current_vendor.id}"}
            Profile
            %span.new.badge.black-text
              #{current_vendor.request_contracts.length}
        %li
          = link_to 'Logout', destroy_vendor_session_path, method: 'delete'
      - else
        %li
          = link_to 'Couple Sign In', new_couple_session_path
        %li
          = link_to 'Vendor Sign In', new_vendor_session_path
      %li
        =link_to 'Vendors', vendors_path

    %span.left.hide-on-small-only{style: "margin-right: -25px; margin-left: 15px;"}
      %i.material-icons{style: "color: #B1AB6F;"}
        search
    %span.custom_nav.left.hide-on-small-only{style: "padding-left: 0px"}
      = form_tag(vendors_path, :method => 'get', class: 'custom_nav') do
        .input-field.center
          = text_field_tag :search, params[:search], placeholder: 'Search Vendors'

    %span.left.hide-on-med-and-up{style: "margin-right: -25px; margin-left: 15px; margin-top: 3.5%;"}
      %i.material-icons{style: "color: #B1AB6F;"}
        search
    %span.custom_nav.left.hide-on-med-and-up{style: "padding-left: 0px"}
      = form_tag(vendors_path, :method => 'get', class: 'custom_nav') do
        .input-field.center
          = text_field_tag :search, params[:search], placeholder: 'Search Vendors'
